@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <img src="~/twomaids.jpg" alt="Two maids with treats" height="350" width="450" />
        <p><a href="\Register">Register now!</a>!</p>
    </div>
